.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 860px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 0 34px;

  text-align: center;

  &--connected {
    margin: 100px auto;
  }
}

.app__header {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: right;

  width: calc(100% - 48px);

  padding: 24px;
}

.app__chain-message {
  margin-bottom: 16px;

  color: #e54343;

  font-weight: 700;
}

.app__header__chain-select-dropdown {
  .button {
    --button-height: unset;
    --button-bg: transparent;

    color: #6b46fe;

    box-shadow: 0 0 1px rgba(12, 26, 75, 0.1), 0 30px 40px rgba(20, 37, 63, 0.08);
  }

  .dropdown-list {
    bottom: 3px;
  }
}

.app__title {
  color: #6b46fe;

  margin: 0 0 15px;
}

.app__button {
  --button-bg: #6b46fe;

  margin-top: 30px;

  border-radius: 4px;

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);

  color: white;

  &--connect {
    --button-bg: transparent;
    --button-height: unset;
    --button-width: 100%;

    border: 1px solid #6b46fe;

    color: #6b46fe;

    margin-top: 24px;
  }
}

.app__actions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  margin-top: 25px;

  border-top: 1px solid #eee;

  .app__button {
    --button-width: 160px;
  }
}

.app__account-address {
  margin-top: 15px;

  word-break: break-all;
}

.app__text-purple {
  color: #6b46fe;
}
